<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	</head>
	<body>
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-brand" href="/">FCC-Voting</a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
				<% if (user) { %>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/poll/newpoll">New Poll</a></li>
								<li><a href="/poll/mypolls">My Polls</a></li>
								<li><a href="/auth/logout">Logout</a></li>
							</ul>
						</li>
					</ul>
					
				<% } else { %>
					<ul class="nav navbar-right">
						<li>
							<a class="btn btn-primary" href="/auth/facebook">Login with Facebook</a>
						</li>
					</ul>
					

				<% } %>
					
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
			<div class="jumbotron">
				<form role="form" method="post">
					<h1>Make a new poll!</h1>
					<div class="form-group">
						<label for="title">Title: </label>
						<input class="form-control" type="text" name="title">
					</div>
					<div class="form-group">
						<label for="options">Options (seperated by line): </label>
						<textarea class="form-control" rows="4" name="options"></textarea>
					</div>
					<input type="submit" value="Make!" class="btn btn-primary">
				</form>
			</div>
		</div>
	</body>
</html>
